<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Login Page | Glories</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="alternate icon" type="image/png" href="{{ url_for('static', filename='i/favicon.png') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/amazeui.min.css')}}"/>
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>Glories</h1>
    <p>Distributed vulnerability Scanner<br/>分布式漏洞扫描</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <h3>注册</h3>
    <hr>
    <!--
    <div class="am-btn-group">
      <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
    </div>
    <br>
    <br>
    -->
    <form method="post" class="am-form" action="">
        {{ form.csrf_token }}
        {{ form.username.label() }}
        {{ form.username(placeholder="Username", id="email")}}
        <br />
        {{ form.email.label() }}
        {{ form.email(placeholder="Email", id="email") }}
        <br />
        {{ form.password.label() }}
        {{ form.password(placeholder="Password", id="password")}}
        <br />
        {{ form.confirm.label() }}
        {{ form.confirm(placeholder="Confirm", id="confirm")}}

        <br />
      <div class="am-cf">
        <!-- <input type="submit" name="" value="注 册" class="am-btn am-btn-primary am-btn-sm am-fl"> -->
        <input type="button" name="" value="注  册 " class="am-btn am-btn-primary am-btn-sm am-fr">
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
      <div class="am-alert am-alert-{{category}}">
        <a class="am-close" title="Close" href="#" data-dismiss="alert"></a>
        {{message}}
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </form>
    <hr>
    <p>© 2016 Glories. All Rights Reserved.</p>
  </div>
</div>
</body>
</html>
