<!doctype html>
<html class="no-js fixed-layout">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Admin index{% endblock %}</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/i/favicon.png" />
    <link rel="stylesheet" href="/static/css/admin.css" />
    {% endblock %}
</head>

<body>
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <strong>Glories</strong> <small>后台管理</small>
        </div>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button> {% block header %} {% endblock %}
    </header>
    <div class="am-cf admin-main">
        {% block sidebar %} {% endblock %} {% block content%} {% endblock %}
    </div>
</body>

<!-- script start -->
{% block script %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/amazeui.js"></script>
    <script src="/static/js/vue.js"></script>
{% endblock %}
<!-- end script -->
</html>